# UV RADIATION EXPOSURE AND MELANOMA INCIDENCE 

Combining environmental UV exposure data with cancer incidence statistics to examine melanoma risk across U.S. counties.

In [1622]:
import openpyxl
import pandas as pd
import matplotlib as plt
import requests

### Importing datasets

- `uv_county` includes historical Average Daily Global Solar Radiation estimates (AVGLO) - a proxy measure for UV- in Wh/m² by county in the Continental US for the period 1961-1990 and the more recent 5-year average measures (2020 - 2024);

- `melanoma_county`  to come...

### Investigate sheet names as shown <a href="https://stackoverflow.com/questions/17977540/pandas-looking-up-the-list-of-sheets-in-an-excel-file" target="_blank">here</a>

In [1623]:
uv_exposure = pd.ExcelFile('../datasets/uv-county-exposure.xlsx')
uv_exposure.sheet_names

['UV_County_1961-1990', 'UV_County_2000-2024']

In [1624]:
recent_uv = pd.read_excel('../datasets/uv-county-exposure.xlsx', sheet_name='UV_County_2000-2024', dtype={'COUNTY_FIPS': str})
recent_uv.rename({'COUNTY NAME': 'COUNTY_NAME', 'STATENAME': 'STATE_NAME'}, axis=1, inplace=True)
recent_uv['COUNTY_FIPS'] = recent_uv['COUNTY_FIPS'].str.zfill(5)
recent_uv = recent_uv.sort_values(['STATE_NAME', 'COUNTY_NAME'])
recent_uv

,STATE_NAME,COUNTY_NAME,COUNTY_FIPS,UV_ Wh/m² (2000-2004),UV_ Wh/m² (2005-2009),UV_ Wh/m² (2010-2014),UV_ Wh/m² (2015-2019),UV_ Wh/m² (2020_2024)
2734,Alabama,Autauga,01001,4781.877818,4774.090182,4843.185939,4701.004606,4785.906061
2159,Alabama,Baldwin,01003,4916.409224,4904.892424,4934.852894,4764.348800,4814.548819
565,Alabama,Barbour,01005,4875.885667,4862.169667,4908.160333,4786.408667,4833.696667
974,Alabama,Bibb,01007,4727.518560,4706.299680,4785.613440,4625.073600,4726.646400
2232,Alabama,Blount,01009,4643.034462,4606.273385,4687.476000,4574.497846,4665.236538
...,...,...,...,...,...,...,...,...
1527,Wyoming,Sweetwater,56037,4780.547753,4819.313629,4731.694674,4753.577473,4910.167898
1517,Wyoming,Teton,56039,4294.326031,4282.941613,4162.277026,4303.009508,4529.784895
2234,Wyoming,Uinta,56041,4730.583808,4797.226752,4687.229184,4736.682624,4936.341280
1990,Wyoming,Washakie,56043,4558.186982,4545.855054,4427.304308,4473.671815,4565.537275
2990,Wyoming,Weston,56045,4598.502081,4469.369484,4492.649376,4453.451403,4505.341629

In [1625]:
recent_uv.isna().sum() * 100/len(recent_uv)

# recent_uv['COUNTY_FIPS'].unique()

STATE_NAME               0.0
COUNTY_NAME              0.0
COUNTY_FIPS              0.0
UV_ Wh/m² (2000-2004)    0.0
UV_ Wh/m² (2005-2009)    0.0
UV_ Wh/m² (2010-2014)    0.0
UV_ Wh/m² (2015-2019)    0.0
UV_ Wh/m² (2020_2024)    0.0
dtype: float64

In [1626]:
melanoma_incidence = pd.read_csv('../datasets/melanoma-county-incidence.csv', dtype={'FIPS': str}, skiprows=8, skipfooter=35, engine='python')
melanoma_incidence.columns
melanoma_incidence.drop(columns=['County', 
                                 '2023 Rural-Urban Continuum Codes([rural urban note])', 
                                 'Lower 95% Confidence Interval', 
                                 'Upper 95% Confidence Interval', 
                                 'CI*Rank([rank note])', 
                                 'Lower CI (CI*Rank)', 
                                 'Upper CI (CI*Rank)', 
                                 'Recent 5-Year Trend ([trend note]) in Incidence Rates', 
                                 'Lower 95% Confidence Interval.1', 
                                 'Upper 95% Confidence Interval.1'], inplace=True)
melanoma_incidence.rename({'FIPS': 'COUNTY_FIPS', 
                           'Age-Adjusted Incidence Rate([rate note]) - cases per 100,000': 'AGE_RATE_PER100K', 
                           'Average Annual Count': 'AVG_ANNUAL_COUNT', 
                           'Recent Trend': 'RECENT_TREND'}, axis=1, inplace=True)
melanoma_incidence['COUNTY_FIPS'] = melanoma_incidence['COUNTY_FIPS'].str.zfill(5)
melanoma_incidence = melanoma_incidence[melanoma_incidence['COUNTY_FIPS'] != '00000'] # drops the annual agreggate row that has COUNTY_FIPS = '00000'
melanoma_incidence = melanoma_incidence.sort_values(['COUNTY_FIPS'])
melanoma_incidence

     COUNTY_FIPS AGE_RATE_PER100K AVG_ANNUAL_COUNT RECENT_TREND
1096       01001              24                16       stable
217        01003            37.2               115       stable
1209       01005            22.8                 8            *
1909       01007            15.5                 4            *
1569       01009            19.4                14      falling
...          ...              ...              ...          ...
292        56039            35.2                10       stable
1836       56041            16.4                 4      falling
3090       56043               *        3 or fewer            *
3108       56045               *        3 or fewer            *
2184       72001             3.3               132       rising

[3143 rows x 4 columns]

In [1627]:
melanoma_incidence.isna().sum() * 100/len(melanoma_incidence)

COUNTY_FIPS         0.0
AGE_RATE_PER100K    0.0
AVG_ANNUAL_COUNT    0.0
RECENT_TREND        0.0
dtype: float64

In [1628]:
# Merge DFs

merged_df = recent_uv.merge(melanoma_incidence, how='left', on ='COUNTY_FIPS')
merged_df

,STATE_NAME,COUNTY_NAME,COUNTY_FIPS,UV_ Wh/m² (2000-2004),UV_ Wh/m² (2005-2009),UV_ Wh/m² (2010-2014),UV_ Wh/m² (2015-2019),UV_ Wh/m² (2020_2024),AGE_RATE_PER100K,AVG_ANNUAL_COUNT,RECENT_TREND
0,Alabama,Autauga,01001,4781.877818,4774.090182,4843.185939,4701.004606,4785.906061,24,16,stable
1,Alabama,Baldwin,01003,4916.409224,4904.892424,4934.852894,4764.348800,4814.548819,37.2,115,stable
2,Alabama,Barbour,01005,4875.885667,4862.169667,4908.160333,4786.408667,4833.696667,22.8,8,*
3,Alabama,Bibb,01007,4727.518560,4706.299680,4785.613440,4625.073600,4726.646400,15.5,4,*
4,Alabama,Blount,01009,4643.034462,4606.273385,4687.476000,4574.497846,4665.236538,19.4,14,falling
...,...,...,...,...,...,...,...,...,...,...,...
3102,Wyoming,Sweetwater,56037,4780.547753,4819.313629,4731.694674,4753.577473,4910.167898,24.8,11,stable
3103,Wyoming,Teton,56039,4294.326031,4282.941613,4162.277026,4303.009508,4529.784895,35.2,10,stable
3104,Wyoming,Uinta,56041,4730.583808,4797.226752,4687.229184,4736.682624,4936.341280,16.4,4,falling
3105,Wyoming,Washakie,56043,4558.186982,4545.855054,4427.304308,4473.671815,4565.537275,*,3 or fewer,*
3106,Wyoming,Weston,56045,4598.502081,4469.369484,4492.649376,4453.451403,4505.341629,*,3 or fewer,*

In [1629]:

# Trim whitespaces and normalize strings
cols = ['STATE_NAME', 'COUNTY_NAME', 'COUNTY_FIPS', 'AGE_RATE_PER100K', 'AVG_ANNUAL_COUNT', 'RECENT_TREND']

merged_df[cols] = merged_df[cols].apply(lambda x: x.str.strip().str.lower())

In [1630]:
# Check datatypes (columns AGE_RATE_PER100K and AVG_ANNUAL_COUNT must be of type float64)
merged_df.dtypes

STATE_NAME                object
COUNTY_NAME               object
COUNTY_FIPS               object
UV_ Wh/m² (2000-2004)    float64
UV_ Wh/m² (2005-2009)    float64
UV_ Wh/m² (2010-2014)    float64
UV_ Wh/m² (2015-2019)    float64
UV_ Wh/m² (2020_2024)    float64
AGE_RATE_PER100K          object
AVG_ANNUAL_COUNT          object
RECENT_TREND              object
dtype: object

In [ ]:
# Checking Unique Count of Unique values: 'data not available' , '*" and 'nan' values will become NaN for calculations
merged_df['AGE_RATE_PER100K'].unique()

In [ ]:
# '3 or fewer' values were turned into a safe 1.5 value - nan and 'data not available will also become NaN for calculations
merged_df['AVG_ANNUAL_COUNT'] = (merged_df['AVG_ANNUAL_COUNT'].replace('3 or fewer', 1.5))
merged_df['AVG_ANNUAL_COUNT'].unique()

In [1633]:
# Standardized non available data for 'unkown'
merged_df['RECENT_TREND'] = (merged_df['RECENT_TREND'].replace(['data not available', '*'], 'unkown'))
merged_df['RECENT_TREND'].value_counts().sort_values()

RECENT_TREND
falling     150
rising      512
stable     1098
unkown     1346
Name: count, dtype: int64

### Issue observed when normalizing data types:

There were a coupe of rows that had no data available for columns `AGE_RATE_PER100K` and `AVG_ANNUAL_COUNT`.<br>
I did not want to `.drop()` these rows, because I thought values would be skewed.<br>
Instead, used this guidance found <a href="https://stackoverflow.com/questions/36814100/pandas-to-numeric-for-multiple-columns" target="_blank">here</a> to apply `pd.to_numeric()` and then convert selected columns to numeric dtypes.

In [1634]:
str_to_nan = ["AGE_RATE_PER100K", "AVG_ANNUAL_COUNT"]
merged_df[str_to_nan] = merged_df[str_to_nan].apply(pd.to_numeric, errors="coerce")

merged_df

,STATE_NAME,COUNTY_NAME,COUNTY_FIPS,UV_ Wh/m² (2000-2004),UV_ Wh/m² (2005-2009),UV_ Wh/m² (2010-2014),UV_ Wh/m² (2015-2019),UV_ Wh/m² (2020_2024),AGE_RATE_PER100K,AVG_ANNUAL_COUNT,RECENT_TREND
0,alabama,autauga,01001,4781.877818,4774.090182,4843.185939,4701.004606,4785.906061,24.0,16.0,stable
1,alabama,baldwin,01003,4916.409224,4904.892424,4934.852894,4764.348800,4814.548819,37.2,115.0,stable
2,alabama,barbour,01005,4875.885667,4862.169667,4908.160333,4786.408667,4833.696667,22.8,8.0,unkown
3,alabama,bibb,01007,4727.518560,4706.299680,4785.613440,4625.073600,4726.646400,15.5,4.0,unkown
4,alabama,blount,01009,4643.034462,4606.273385,4687.476000,4574.497846,4665.236538,19.4,14.0,falling
...,...,...,...,...,...,...,...,...,...,...,...
3102,wyoming,sweetwater,56037,4780.547753,4819.313629,4731.694674,4753.577473,4910.167898,24.8,11.0,stable
3103,wyoming,teton,56039,4294.326031,4282.941613,4162.277026,4303.009508,4529.784895,35.2,10.0,stable
3104,wyoming,uinta,56041,4730.583808,4797.226752,4687.229184,4736.682624,4936.341280,16.4,4.0,falling
3105,wyoming,washakie,56043,4558.186982,4545.855054,4427.304308,4473.671815,4565.537275,NaN,1.5,unkown
3106,wyoming,weston,56045,4598.502081,4469.369484,4492.649376,4453.451403,4505.341629,NaN,1.5,unkown

In [1635]:
# All dtypes normalized
merged_df.dtypes

STATE_NAME                object
COUNTY_NAME               object
COUNTY_FIPS               object
UV_ Wh/m² (2000-2004)    float64
UV_ Wh/m² (2005-2009)    float64
UV_ Wh/m² (2010-2014)    float64
UV_ Wh/m² (2015-2019)    float64
UV_ Wh/m² (2020_2024)    float64
AGE_RATE_PER100K         float64
AVG_ANNUAL_COUNT         float64
RECENT_TREND              object
dtype: object